{% extends 'base.html.twig' %}

{% block title %}
    Imbometr Sejmowy
{% endblock %}

{% block body %}
    <header>
        Imbometr Sejmowy<br>
        Wszystko co się dzieje wokół Sejmu w najlepszym wydaniu
    </header>
    <nav>

    </nav>
    <main>

    </main>
    <footer>

    </footer>
{% endblock %}